.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: left;
  justify-content: left;
}

.profile-circle {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #006eff;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  left: 0%;

}

.profile-circle:hover {
  background-color: #0056b3;
}

.profile-circle span {
  display: inline-block;
  text-transform: uppercase;
}


.profile-circle:hover .profile-tooltip {
  opacity: 1;
  visibility: visible;
}

.profile-tooltip ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-tooltip li {
  margin-bottom: 5px;
}
.profile-tooltip {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  width: 525px;
  background-color: #fff;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 10;
  overflow: hidden;
  white-space: normal;
}
